#gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin: 30px auto;
  border: 1px solid black;

}

.square {
  width: 62.5px;
  height: 62.5px;
  background-color: saddlebrown;
}

.light {
    background-color: rgb(244, 193, 135);
}

.dark {
   
  background-color:saddlebrown
}

.piece svg {
    width: 50px;
    height: 50px;
    margin: 5px 5px;
    position: relative;
    z-index: -9;
}

/*
path {
    position: relative;
    z-index: -10;
}
*/

.piece {
    position: relative;
    z-index: 10;
}

.black {
    fill: rgba(0, 0, 0, 0.863);
}

.white {
    fill: rgba(255, 255, 255, 0.826);
}
